.pageCtn{
    width: 100vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.textCtn{
    box-sizing: border-box;
    padding-top: 10em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    background: var(--color-footer);
    min-height: 90vh;
}

.brandText span{
    font-size: 3.75em;
    line-height: 110%;
}
.brandText {
    width: 100%;
}

.halfOpacity {
    opacity: 0.3;
}

.fullOpacity {
    opacity: 1;
}

.founderCtn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    box-sizing: border-box;
    padding: 2em;
}

.textFounder{
    display: grid;
    grid-template-rows: repeat(2,1fr);
}

.fullTextFounder{
    display: flex;
    align-items: end;
    width: 80%;
    color: var(--red);
    
}

.fullTextFounder span{
    font-size: 1.25em;
}


.newsCtn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 70vh;
    background: black;
    overflow: hidden;
    padding:2em;
}

.text{
    box-sizing: border-box;
    width: 60%;
}

.text p{
    color: #f2f2f2;
    font-size: 20px;
}

.text h4{
    margin-bottom: 0.5em;
    color: var(--color-clients);
}

.textDomestika{
    width: 100%;
    display: flex;
    gap: 1em;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 2em;
}

.imageCtn{
    box-sizing: border-box;
    grid-column: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: end;
    overflow: hidden;
}




