a{
    font-weight: 500;
}

.about-ctn{
    padding:5em 1.5em;
    border-top: 1px solid black;
}

.about-text{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.about-left-ctn{
    display: grid;
    grid-template-rows: repeat(4,1fr);
}

.about-left-ctn p,
.about-right-ctn p{
    font-size: 16px;
    /*font-family: "IBM Plex Sans", sans-serif;*/
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.05em;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.about-right-ctn{
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

 .info-ctn{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2em;
} 

.text-ctn{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2em;
}

.contact-about p,
.clients-info p{
    font-size: 24px;
    line-height: 1.5;
}

.damaja-img {
    grid-column: 3;
    width: 100%;
    height: auto;
}
 
.damaja-img img{
    width: 100%;
    height: 100%;
}


@media (max-width:768px) {

    .about-text{
        display: flex;
        flex-direction: column;
    }

    .about-left-ctn{
        display: flex;
        flex-direction: column;
    }

    .about-right-ctn{
        gap: 2.5em;
    }

    .info-ctn{
        display: flex;
        flex-direction: column;
    }

    .about-right-ctn p{
        font-size: var(--fon-size-p);
    }

    /*.info-ctn{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }*/

    .damaja-img {
        grid-column: 2 span 2;
        width: 100%;
        height: auto;
    }
     
    .damaja-img img{
        width: 100%;
        height: 100%;
    }
}
