.footerCtn{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1em;
    background:var(--color-footer);
    width: 100vw;
    height: 60dvh;
    box-sizing: border-box;
    padding: 2em;
}




@media (max-width:768px) {
    .footerCtn{
        display: flex;
        flex-direction: column;
        padding: 1em;
    }

    .dash{
        display: none;
    }

}