a,p{
    text-decoration: none;
}

.footer-container{
    display: flex;
    flex-direction: column;
    gap: 6em;
    width: 100%;
    padding: 1.5em;
    
}

.footer-contact-ctn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-contact-ctn p{
    font-weight: 500;
}

.info,
.workshops-info{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.site-credits{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-left: auto;
    text-align: end;
}

.site-credits p{
    font-size: 12px;
    /*font-style: italic;*/
}


@media (max-width: 768px) {

    .footer-container{
        display: flex;
        flex-direction: column;
        gap: 4em;
        width: 100%;
        padding:2.5em 1.5em;
    }
    
    .footer-contact-ctn{
        display: flex;
        flex-direction: column;
        gap: .5em;
       
    }

    .workshops-info{
        padding-bottom: 2em;
    }

    .site-credits{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 0.5em;
        margin-left: 0;
    }

    .site-credits p{
        font-size: 10px;
    }

}