.footerCtnMobile,
.webshopMobile,
.addressMobile,
.socialMobile{
    display: none;
}

.footerCtn{
    background:var(--color-footer);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    box-sizing: border-box;
    padding:2em;
    height: auto;
}

.leftCtn{
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.footerLinksWrap {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: start;
}

.footerLinkWrap{
    display: flex;
    flex-direction: row;
    opacity: 0.2;
}

.footerLinkWrapHome{
    display: flex;
    flex-direction: row;
    opacity: 1;
}

.middleCtn {
    display: flex;
    flex-direction: column;
    gap: 4em;
    justify-content: start;
    grid-column: 3;
    margin-left: 1em;
}

.middleCtn h4,
.contactLinks h4{
    color: var(--black-2);
}

.middleCtn a,
.contactLinks a{
    color: var(--black-2);
    font-size: 20px;
}

.address,
.webshop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
}

.contactLinks{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-left: 6em;
    grid-column: 4;
}

.social{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}


.rights h4{
    font-size: 20px;
    color: var(--black-2);
}



@media (max-width:768px) {

    .footerCtn, .dashWrap{
        display: none;
    }

    .footerCtnMobile{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding:1.5em;
        background: var(--color-footer);
        height: auto;
        gap: 4em;
    }

    .footerLinksWrapMobile{
        display: grid;
        row-gap: 0;
        gap: 0.5em;
    }

    .middleCtnMobile{
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 1em;
    }

    .addressMobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5em;
    }

    .addressMobile h4,
    .webshopMobile h4{
        color: var(--black-2);
    }

    .emailMobile{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;
    }

    .webshopMobile{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    .webshopLink {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;
    }

    .socialMobile{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
        gap: 0.5em;
    }

    .rightsMobile{
        margin-top: 1em;
    }
}



