.pageCtn{
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.heroCtn{
    position: relative;
    width: 100vw;
    top: 0;
    height: 90vh; 
    position: sticky; 
}

.heroImage{
    position: sticky;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:bottom;
    /*rotate: 180deg;*/
}

.heroImageMobile{
    display: none;
}

.projectsCtn{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 2em;
    overflow: auto;
}

.firstRow{
    position: relative;
    display: grid;
    /*grid-template-columns: repeat(3,1fr);*/
    grid-template-columns: repeat(2,1fr);
    margin-top: 2em;
    gap: 1em;
}

.firstRowImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 2;
}

.projectName{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column: 2;
    width: 100%;
    justify-content: space-between;
    border-top: 0.5px solid var(--indian-red);
}

.span{
    /*color: #ED434A;*/
    color: var(--indian-red);
    margin-top: 0.5em;
}

.spanMore{
    display: flex;
    justify-content: end;
    color: var(--indian-red);
    /*color: #ED434A;*/
    margin-top: 0.5em;
}

.secondRow{
    position: relative;
    display: grid;
    /*grid-template-columns: repeat(3,1fr);*/
    grid-template-columns: repeat(2,1fr);
    margin-top: 10em;
    gap: 1em;
}

.secondRowImage{
    width: 100%;
    height: auto;
    object-fit: cover;
    grid-column: 1;
}

.secondProjectName{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column: 1;
    width: 100%;
    justify-content: space-between;
    border-top: 0.5px solid var(--indian-red);
}

.thirdRow{
    position: relative;
    display: grid;
    /*grid-template-columns: repeat(4,1fr);*/
    grid-template-columns: repeat(2,1fr);
    margin-top: 10em;
    gap: 1em;
}

.thirdRowImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 2;
}

.thirdProjectName{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column: 2;
    width: 100%;
    justify-content: space-between;
    border-top: 0.5px solid var(--indian-red);
}

.clientsListMobile{
    display: none;
}

.clientsCtnNew{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    box-sizing: border-box;
    padding: 2em;
    background: var(--color-clients);
    min-height: 60vh;
}


.damajaClients h1{
    /*color: #8F6E3A;*/
    /*color: var(--indian-red);*/
    /*color: var(--black-2);*/
    color: #8F6E3A;
}

.clientsList{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.clientsList h3{
    /*color: #8F6E3A;*/
    /*color: var(--indian-red);*/
    color: #8F6E3A;
}

.getInTouch{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 0.2em;
}

.getInTouch h4{
    /*color: #8F6E3A;*/
    color: #8F6E3A;
    font-size: 20px;
}

.getInTouch a{
    color: #8F6E3A;
    /*color: #8F6E3A;*/
    font-size: 20px;
}



.newsCtn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 70vh;
    background: black;
    overflow: hidden;
}

.text{
    box-sizing: border-box;
    padding:2em;
    width: 60%;
}

.text p{
    color: white;
}

.text h4{
    margin-bottom: 0.5em;
    color: var(--color-clients);
}

.textDomestika{
    width: 100%;
    display: flex;
    gap: 1em;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 2em;
}

.imageCtn{
    box-sizing: border-box;
    padding: 1em;
    grid-column: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: end;
    overflow: hidden;
}



@media (max-width:768px) {

    .heroCtn{
        position: relative;
        top: 0;
        width: 100vw;
        height: 80vh;
        position: sticky; 
    }
    
    .heroImageMobile{
        display: block;
        position: sticky;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .heroImage{
        display: none;
    }
    
    .projectsCtn{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0 1.5em;
        overflow: auto;
        height: auto;
    } 

    .firstRow{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        gap: .5em;
    }
    
    .secondRow,
    .thirdRow{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 4em;
        gap: .5em;
    }

    .firstRowImage,
    .secondRowImage,
    .thirdRowImage{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .projectName{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .clientsCtnNew{
        display: grid;
        grid-template-rows: repeat(3,1fr);
        box-sizing: border-box;
        padding:2em 1em 2em 1em;
        margin-top: 2em;
        background: var(--color-footer);
        max-height: 70vh;
    }

    .damajaClients h1{
        /*color: #8F6E3A;*/
        /*color: #A67153;*/
        color: #8F6E3A;
        /*color: var(--black-2);*/
        font-size: 4.2rem;
    }

    .clientsList{
        display: none;
    }

    .clientsListMobile{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .clientsListMobile h3{
        /*color: #8F6E3A;*/
        /*color: var(--black-2);*/
        color: #8F6E3A;;
        /*color:#AB7D56;*/
    }

    .getInTouch{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
    }

    .getInTouch h4{
        /*color: #8F6E3A;*/
        /*color: var(--black-2);*/
        /*color: #A67153;*/
        color: #8F6E3A;
        font-size: 16px;
    }

    .getInTouch a{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;
        /*color: #8F6E3A;*/
        /*color: var(--black-2);*/
        color: #8F6E3A;
        font-size: 16px;
    }

    .newsCtn{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content:start;
        background: black;
        box-sizing: border-box;
        padding:2em 1em 2em 1em;
        gap: 0em;
    }
    
    .text{
        height: auto;
        width:65%;
        padding: 0;
    }

    .textDomestika{
        width: 50%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: auto;
        gap: 0;
    }

    .imageCtn{
        height:auto;
        display: flex;
        flex-direction: row;
        padding: 0;
        overflow: hidden;
    }

    .image{
        width: 50%;
        height: 100%;
        object-fit: cover;
        object-position:center;
        margin-left: auto;
    }

}




/* css before changing the font for clients and bigger pictures */

/* .pageCtn{
    height: calc(auto - 100px);
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.heroCtn{
    width: 100vw;
    top: 0;
    height: 90vh; 
    position: sticky; 
}

.heroImage{
    position: sticky;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectsCtn{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 2em;
    overflow: auto;
}

.firstRow{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 2em;
    gap: 1em;
}

.firstRowImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 3;
}

.projectName{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column: 3;
    width: 100%;
    justify-content: space-between;
}

.spanMore{
    display: flex;
    justify-content: end;
}

.secondRow{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 2em;
    gap: 1em;
}

.secondRowImage{
    width: 100%;
    height: auto;
    object-fit: cover;
    grid-column: 1;
}

.secondProjectName{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column: 1;
    width: 100%;
    justify-content: space-between;
}

.thirdRow{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 2em;
    gap: 1em;
}

.thirdRowImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 3;
}

.thirdProjectName{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column: 3;
    width: 100%;
    justify-content: space-between;
}

.clients{
    position: relative;
    width: 100vw;
    margin-top: 4em;
}

.clientsTitle{
    display: flex;
    flex-direction: column;
    align-items: end;
    box-sizing: border-box;
    padding: 0 2em;
}

.clientsCtn{
    background: var(--color-beige);
    height: 60dvh;
    padding:6em 6em;
    display: grid;
    align-items: center;
}

.firstRowClients{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.firstTitle {
    grid-column: 1;
    text-align: right;
}

.secondTitle {
    grid-column: 5;
    text-align: left;
}

.secondRowClients{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.secondRowClients h3{
    grid-column: 3;
    text-align:right;
}

.thirdRowClients{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.firstThirdRow {
    grid-column: 1;
    text-align: left;
}

.secondThirdRow {
    grid-column: 5;
    text-align: right;
}


.fourthRowClients{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.fourthRowClients h3{
    grid-column: 2;
    text-align: right;
}

.fifthRowClients{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.fifthRowClients h3{
    grid-column: 4;
    text-align: left;
}

.sixthRowClients{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.newsCtn{
    width: 100vw;
    height: 70dvh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: black;
}

.text{
    display: flex;
    flex-direction: column;
    width: 60%;
    box-sizing: border-box;
    padding:2em;
}

.imageCtn{
    box-sizing: border-box;
    padding: 1em;
}

.image{
    grid-column: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width:768px) {

    .heroCtn{
        top: 0;
        width: 100%;
        height: 80vh; 
        position: sticky;
    }
    
    .heroImage{
        position: sticky;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .projectsCtn{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0 1em;
        overflow: auto;
    }

    .firstRow{
        position: relative;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 2em;
        gap: .5em;
    }
    
    .firstRowImage{
        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-column: 2;
    }
    
    .projectName{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column: 2;
        width: 100%;
        justify-content: space-between;
    }


    .secondRow{
        position: relative;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 2em;
        gap: .5em;
    }

    .secondRowImage{
        width: 100%;
        height: auto;
        object-fit: cover;
        grid-column: 1;
    }


    .thirdRow{
        position: relative;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-top: 2em;
        gap: .5em;
    }

    .thirdRowImage{
        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-column: 3;
    }

    .thirdProjectName{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column: 3;
        width: 100%;
        justify-content: space-between;
    }

    .clients{
        margin-top: 4em;
    }

    .clientsTitle{
        padding: 0 1em;
    }

    .clientsCtn{
        padding:1em 2em;
        display: grid;
        align-items: center;
    }

    .newsCtn{
        width: 100vw;
        height: 50dvh;
        display: flex;
        flex-direction: column;
        background: black;
        box-sizing: border-box;
        padding:1em;
    }
    
    .text{
        display: flex;
        flex-direction: column;
        width:50%;
        height: 15dvh;
        padding: 0;
    }
    
    .imageCtn{
        height: 30dvh;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 0;
    }
    
    .image{
        grid-column: 2;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

} */