.nav-ctn a{
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.nav-ctn {
    position:fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
    padding:1.5em 2em;
  }

  .nav-ctn.hovered a {
    /*color:#b95733;*/
    color:  var(--color-change-item);
  }

  .nav-content {
    width: 100%;
    z-index: 1;
    gap: 0em;
    text-transform: uppercase;
    color: black;
    border-radius: 2em;
  }

  .nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .right-ctn{
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .nav-content.hovered{
    border: 1px solid var(--color-change-item);
  }



  @media (max-width: 768px) {

  }



   /*.contact{
    background: beige;
  }*/


  /*.nav-ctn h3{
    letter-spacing: -0.03em;
    font-weight: 600;
    font-family: 'Tinos', serif;
  }*/




 /*

   .social-links{
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-right: 1px solid var(--color-change-item);
  }


   .nav-content {
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em;
    text-transform: uppercase;
    color: black;
    border: 1px solid var(--color-change-item);
  }

 
 
 .nav-ctn {
    position:fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-transform: uppercase;
    color: black;
    border: 1px solid black;
  } */

