*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.nav-ctn {
    position:fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-transform: uppercase;
  }

  .nav-ctn h3{
    letter-spacing: -0.03em;
    font-weight: 600;
    font-family: 'Tinos', serif;
  }

  .nav-ctn.hovered a {
    color:white; 
  }

.nav-ctn.hovered h3 {
    color:white 
  }
