.nav-ctn a{
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.nav-ctn {
    width: 100%;
    position:fixed;
    display: flex;
    justify-content: center;
    z-index: 1;
    box-sizing: border-box;
    padding:2em 1.5em;
  }

  .nav-ctn.hovered a {
    /*color:#b95733;*/
    color:  var(--color-change-item);
  }

  .nav-content {
    width: 100%;
    z-index: 1;
    gap: 0em;
    text-transform: uppercase;
    color: black;
    border-radius: 2em;
  }

  /*.nav-links{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }*/

  .nav-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .right-ctn{
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .left-ctn a{
    font-size: 24px;
  }

  .nav-content.hovered{
    border: 1px solid var(--color-change-item);
  }

  .nav-ctn.hidden {
    opacity: 0;
    pointer-events: none;
}

.nav-ctn.visible {
    opacity: 1;
}

  @media (max-width: 768px) {

    .right-ctn{
      display: flex;
      flex-direction: row;
      gap: 0.7em;
    }

    .nav-links{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: .5em;
      /*background: var(--color-popup);
      padding-top: .4em;
      padding-bottom: .4em;*/
    }

    .left-ctn a{
      font-size: 20px;
    }

    .nav-ctn.hidden {
      opacity: 0;
      transform: translateY(-100%);
      transition: opacity 0.3s ease, transform 0.3s ease;
      pointer-events: none;
  }
  
  .nav-ctn.visible {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  }

