.navbarCtn{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 2em;
    padding-right:2em ;
    padding-top: 2em;
    z-index: 1;
}


@media (max-width:768px){
    .navbarCtn{
        padding-top: 1em;
    }
}