.navbarCtn{
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 2em;
    padding-right:2em ;
    padding-top: 2em;
    z-index: 1;
    transition: opacity 1s ease, transform 1s ease;
    opacity: 1; 
    transform: translateY(0); 
}

.hidden {
    opacity: 0; 
    transform: translateY(-100%); 
}
  


@media (max-width:768px){
    .navbarCtn{
        width: 100vw;
        box-sizing: border-box;
        padding-left: 1em;
        padding-right:1em ;
        padding-top: 1em;
    }
}