.navbarCtn{
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 2em;
    padding-right:2em ;
    padding-top: 2em;
    z-index: 1;
}

/*.logo span{
    font-size: 24rem;
    letter-spacing: .1em;
}*/


@media (max-width:768px){
    .navbarCtn{
        width: 100vw;
        box-sizing: border-box;
        padding-left: 1em;
        padding-right:1em ;
        padding-top: 1em;
    }
}