.slideIn{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: black;
    transform-origin: bottom;
}

.slideOut{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: black;
    transform-origin: top;
}