.workshops-wrapper{
    padding:5em 1.5em;
    border-bottom: 1px solid black;
}

.workshops-content-ctn{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.workshops-left-ctn p,
.workshops-right-ctn p,
.past-events p{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.05em;
}

.title p{
    font-size: 20px;
    /*font-family: "IBM Plex Sans", sans-serif;*/
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.05em;
}


.toggle-workshops p{
    font-size: 16px;
}

.workshops-left-ctn{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.workshops-right-ctn {
    width: 100%;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.video-ctn{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /*display: flex;
    flex-direction: row;*/
    margin-left: 0;
    gap: 2em;
    /*height:60vh;*/
}

video {
    width: 100%;
    height: 100%;
}

/* for workshops and about section */
.contact-section {
    display: flex;
    flex-direction: row;
    gap: .5em;
}

.contact-section p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.05em; 
}

.contact-section :nth-last-child(1){
    text-decoration: underline;
}

.offer-list{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0em;
    font-family: "Courier Prime", monospace;
    margin-left: 1em;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.past-events{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.button-ctn{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 4em;
}

.contact-button{
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    padding: 1em;
    border: 1px solid var(--color-change-bg);
    background: var(--color-change-bg);
    order: -1;
}

.contact-button p{
    /*color: var(--color-change-bg);*/
    color: white;
}

.toggle-workshops{
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    /*background: var(--color-change-bg);*/
    padding: 1em;
    border: 1px solid var(--color-change-bg);
}

.toggle-workshops p{
    /*color: white;*/
    color: var(--color-change-bg);
}


/*.additional-content{
    display: flex;
    flex-direction: column;
    padding: 10em 1.5em;
}*/

.additional-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 5em;
  
}

.additional-right-ctn{
    display: flex;
    flex-direction: column;
    gap: 4em;
    width: 100%;
    grid-column: span 2;
}

/*.collab-list{
    display: flex;
    flex-direction: column;
}

.collab-item{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 11em;
}

.collab-item p{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.05em;
}*/


.title-collab p{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.05em;
    padding-bottom: 2em;
}

.gallery-workshops{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.row-info{
    display: flex;
    flex-direction: column;
    gap: 1em;
    /*font-style: italic;*/
}

.first-row-imgs,
.second-row-imgs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    gap: 2em;
}

.toggle-workshops-mobile{
    display: none;
}

/*.photo-credits{
    font-style: italic;
}*/


@media (max-width:768px) {

    .workshops-wrapper{
        padding:5em 1.5em 3em 1.5em;
        border-bottom: 1px solid black;
    }

    .title{
        padding-bottom: 2em;
    }

    .title p{
        font-size: 20px;
        font-weight: 500;
    }

    .workshops-right-ctn p{
        font-size: var(--font-size-p);
    }

    .workshops-right-ctn{
        gap: 2em;
    }

    .workshops-content-ctn{
        display: flex;
        flex-direction: column;
    }

    .video-ctn{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        gap: 2em;
        /*height:60vh;*/
    }

    .toggle-workshops{
        display: none;
    }
    
    .toggle-workshops-mobile{
        display: block;
        padding: 1em;
        /*background: var(--color-change-bg);*/
        border: 1px solid var(--color-change-bg);
        border-radius: 8px;
    }

    .toggle-workshops-mobile p{
        /*color: white;*/
        text-align: center;
        color: var(--color-change-bg);
    }

    .contact-button{
        width: 100%;
        border-radius: 8px;
        order: -1;
    }

    .button-ctn{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1em;
    }

    .additional-content{
        display:flex;
        flex-direction: column;
        padding-top: 5em;
    }

    .contact-section {
        display: flex;
        gap: 0.5em;
        /*font-style: italic;*/
    }
    
    .contact-section p {
        font-size: var(--font-size-p);
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: -0.05em; 
        
    }

    .row-info p,
    .photo-credits p{
        font-size: 10px;
    }

    .offer-list {
        font-size: 14px;
    }

    .past-events{
        gap: 1em;
    }


 
}